.button-grid{
    width: 300px;
    height: 350px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: aquamarine;
}


.bar{
    display: grid;
    grid-column: 1 / span 4;
    height: 80px;
    padding-bottom: 10px;
}

#display{
    display: grid;
    grid-column: 1 / span 4;
    padding-bottom: 10px;
    font-size:40px;
    width: 292px;
}

.clear{
    display: grid;
    grid-column: 1 / span 4;
    height: 40px;
    padding-bottom: 10px
}

.first-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: 40px;
    padding-bottom: 10px;
}

.second-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: 40px;
    padding-bottom: 10px;
}

.third-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: 40px;
    padding-bottom: 10px;
}

.fourth-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: 40px;
    padding-bottom: 10px;
}